* {
    margin: 0;
    padding: 50;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #e8e4dc;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40 px;
}